@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div>
        Hello World Pizzeria
    </div>
</div>

<script src="js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
<script src="js/main_page.js" asp-append-version="true"></script>
