@page
@model WebAppCommandProject.Pages.WorkerModel
@{
    ViewData["Title"] = "Worker";
}

<h1>Hello Worker some changes</h1>
<div id="chatroom"></div>

<script src="js/signalr/dist/browser/signalr.js"></script>
<script src="js/worker.js" asp-append-version="true"></script>